<%# v3.0 %>

<div class="mb-6">
  <%= link_to 'Add shipping address',
              helpers.account_profile_new_shipping_address_path,
              class: "text-brand-dark no-underline hover:underline" %>
</div>