<%# v3.0 %>

<div class='vertical_space_small'></div>

We ran into an issue creating your account

<div class='vertical_space_small'></div>

Please try again, and contact us (<%= HawthorneCore::Site.this_site_contact_email %>) if the problem continues

<div class='vertical_space_small'></div>