<%# v3.0 %>

<div class='error'>
  <div class='vertical_space_small'></div>
  <%= raw('Your email address doesn’t look valid<br>Please check for a typo and try again') if @email_address_syntax_error %>
  <div class='vertical_space_small'></div>
</div>