<%# v3.0 %>

<div class='error'>
  <%= render partial: '/hawthorne_core/partials/user/message/create_site_user_record_failed' if @create_site_user_record_failed %>
  <%= render partial: '/hawthorne_core/partials/user/message/email_address_failed' if @email_address_failed %>
</div>
