<%# v3.0XXX %>

<div style='display: flex; align-items: center; justify-content: center;'>
  <%#= render partial: '/core/user/partials/single_sign_on_amazon' %>
  <%#= render partial: '/core/user/partials/single_sign_on_apple' %>
  <%#= render partial: '/core/user/partials/single_sign_on_facebook' %>
  <%= render partial: '/hawthorne_core/partials/user/single_sign_on/google' %>
</div>