<%# v3.0 %>

<div class='error'>
  <div class='vertical_space_small'></div>
  <%= 'Your new email address is already in use' if @new_email_address_taken %>
  <div class='vertical_space_small'></div>
</div>