<%# v3.0 %>

<div class='error'>
  <div class='vertical_space_small'></div>
  <%= 'Your PIN has expired, so we’ve sent you a new one' if @pin_expired %>
  <%= 'There have been too many unsuccessful attempts, so we’ve sent you a new PIN' if @pin_max_failed_attempts_reached %>
  <%= 'That PIN doesn’t match. Please check for a typo and try again' if @pin_not_match %>
  <%= 'We couldn’t verify that PIN, so we sent you a new one' if @pin_not_set %>
  <div class='vertical_space_small'></div>
</div>