<%# v3.0 %>

<dialog id="<%= @modal_element_id %>" class="w-full max-w-lg shadow-xl">
  <div class="px-8 py-8">
    <%= render HawthorneCore::UI::Modal::TitleComponent.new(text: @title, modal_element_id: @modal_element_id) %>
    <%= content %>
  </div>
</dialog>

<script>
    document.getElementById('<%= @modal_element_id %>').addEventListener('click', function(e) {
        if (e.target === this) this.close()
    })
</script>