<%# v3.0 %>

<%
  autocomplete_address_label = "Autocomplete - #{@selected_country.handle.gsub('United States', 'US')} addresses only"
%>

<%= render(HawthorneCore::UI::Form::TextFieldComponent.new(form: @form, attribute: :autocomplete_address, label: autocomplete_address_label, maxlength: 200, autofocus: true)) %>

<div id='<%= @model.model_name.param_key %>_autocomplete_address_suggestions'></div>