<%# v3.0 %>

<div class='form_input'>
  <%= render(HawthorneCore::UI::Form::LabelComponent.new(text: @label)) %>
  <%= @form.text_field @attribute, placeholder: @placeholder, required: @required, value: @value, autocomplete: @autocomplete, maxlength: @maxlength %>
</div>